body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

header {
  background-color: #a8aaa3; /* лаймовый светлый */
  padding: 20px;
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  color: #333;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

footer {
  background-color: #d4ed91;
  text-align: center;
  padding: 10px;
  margin-top: 20px;
  font-size: 14px;
  color: #333;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  padding: 30px;
  max-width: 800px;
  margin: 0 auto;
}


.card {
  background-color: #fff176;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  padding: 15px;
  width: 100%;
  height: 350px;
  text-align: center;
  transition: transform 0.2s, box-shadow 0.2s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.card:hover {
  transform: translateY(-5px);
  box-shadow: 
    0 0 10px #d4ed91,
    0 0 20px #c5e872,
    0 0 30px #fff176;
}

.card h3 {
  margin: 10px 0;
  color: #333;
  
}

.card p {
  margin: 5px 0;
  color: #555;
}

.card a {
  display: inline-block;
  margin-top: 10px;
  text-decoration: none;
  background-color: #d4ed91; /* лаймовый */
  color: #333;
  padding: 6px 12px;
  border-radius: 8px;
  transition: background-color 0.2s;
}

.card a:hover {
  background-color: #4742e4;
}
